<!--Campo para la agregar nuevas tareas-->
<div class="card-panel hoverable">
    <app-todo-input (submit)="addTodo($event)"></app-todo-input>
</div>

<!--Lista de tareas pendientes-->
<ul class="collection with-header">
  <li class="collection-item" *ngFor="let todo of todos" [class.red]="todo.complete">
    <div>
      <label>
        <input type="checkbox" />
        <span>{{ todo.title }}</span>
      </label>
      <a href="#!" class="secondary-content">
        <i class="material-icons">close</i>
      </a>
    </div>
  </li>
</ul>

