<!--Campo para la agregar nuevas tareas-->
<div class="card-panel hoverable">
<!-- Uso de mi input, que nos enviara a traves de evento el texto introducido por el usuario -->
    <app-todo-input (submit)="addTodo($event)"></app-todo-input>
</div>

<!--Lista de tareas pendientes-->
<ul class="collection with-header">
<!-- Recorro la lista de tareas -->
  <li class="collection-item" *ngFor="let todo of todos">
    <app-todo-item
      [item]="todo"
      (removeItem)="removeTodo($event)"
      (completeItem)="completeTodo($event)"
      (modalItem)="modalUpdate($event)">
    </app-todo-item>
  </li>
</ul>

<!-- Modal para editar la informacion del item seleccionado-->
<app-todo-update
  [itemTodo]="todo"
  (updateTodo)="updateTodo($event)">
</app-todo-update>

