<!--Campo para la agregar nuevas tareas-->
<div class="card-panel hoverable">
    <div class="input-field">
      <input id="newTodo" type="email">
      <label for="newTodo" class="te">Que hay que hacer</label>
    </div>
</div>

<!--Lista de tareas pendientes-->
<ul class="collection with-header">
  <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">close</i></a></div></li>
  <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">close</i></a></div></li>
  <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">close</i></a></div></li>
  <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">close</i></a></div></li>
</ul>

